h1 {
    color: #AF2BBF;
    font-family : Arial, Helvetica, sans-serif;
    font-size : 250px
}

#title-container {
    position : relative;
    text-align: center;
}

#last-supper {
    width : 100%
}


.title-text {
    text-align : center;
    font-size: 30vh;
    font-family: "Brush Script MT";
    position : absolute;
    left : 18vw;
    top : -20vh;
    color : #62e4bf;
}

#welcome {
    font-size :10vh;
    font-style: normal;
    color : #AF2BBF;
}

#pearl-earring {
    font-size : 8vh;
    font-weight :bold;
    color: #6C91BF;
}

.description-paragraph {
    padding : 5px;
    font-size : 4vh;
    font-style: italic;
    color : #03ce9f;
}

.description-container {
    display : none;
}

.description-container {
    display : none;
}

.art-block:hover .description-container{
    display : inline;
}

.art-block {
    display : inline;
}


.block-image {
    display : inline;
    float : left;
    border : 20px solid grey;
    border-radius : 100px;
    margin : 20px;
    height : 90vh;
}

.art-block {
    float : left;
}

.h2-hover {
    font-size: 10vh;
    font-family: "Garamond";
    font-style : italic;
    font-weight :bolder;
    color:  #AF2BBF; /*default color: this is overriden later */
    display: block;
    padding : 20px;
}

.h2-hover:hover {
    background-color: rgba(255, 166, 0, 0.499);
}

.genre-title {
    font-size : 9vh;
    font-weight :bold;
    color: #6C91BF;
    /* font-family : "Brush Script MT"; */
}

#lichtenstein {
    height : 80vh;
}

.home-navigator {
    display: block;
    float: left;
}

.nav-bar > a {
    display : inline-block;
    font-size: 4vh;
    padding : 10px;
    border-radius: 10px;
    color : white;
    background-color: #5BC8AF;
    font-family: "Verdana";
    font-style : italic;
    font-weight : lighter;
}

.nav-bar>a:hover {
    color : orange;
}

/* selectors for other pages */

.genre-introduction {
    padding : 5px;
    font-size : 4vh;
    color : #AF2BBF;
}

#renaissance-title {
    color: rgb(255, 255, 255);
    left : 10vw;
    top : 30vh;
}

#impressionism-title {
    color : #ffffff;
    top : 0vh;
    left : 10vw;
    font-size : 35vh;
}

#modern-title {
    color : #ffffff;
    top : 0vh;
}

#romanticism-title {
    color :rgb(255, 255, 255);
    top : 0vh;
    left : 15vw;
    font-size : 35vh;
}