h1 {
    color: rgb(255, 255, 255) ;
    font-family : Arial, Helvetica, sans-serif;
    font-size : 250px
}

#title-container {
    position : relative;
    text-align: center;
}

#last-supper {
    width : 100%
}


.title-text {
    text-align : center;
    width : 100%;
    position : absolute;
    top : -160px;
    color : greenyellow;
}


.description-paragraph {
    padding : 5px;
    font-size : 150%;
    visibility: visible;
}

.description-container {
    display : none;
}

.description-container {
    display : none;
}

.art-block:hover {
    display : none;
}



.art-block {
    display : inline;
}


.block-image {
    display : block;
    float : left;
    border : 20px solid grey;
    border-radius : 100px;
    margin : 20px;
}

.art-block {
    float : left;
}

.h2-hover {
    font-size: 50px;
    color: green; /*default color: this is overriden later */
    display: block;
    padding : 20px;
}

.h2-hover:hover {
    background-color: blueviolet;
}

#romanticism > a {
    color: red;
}

.home-navigator {
    display: block;
    float: left;
}

.nav-bar > a {
    display : inline-block;
    font-size: 30px;
    padding : 10px;
    border-radius: 10px;
    color : white;
    background-color: blue;
}

.nav-bar>a:hover {
    color : orange;
}

/* renaissance ONLY selectors */
#renaissance-title {
    font-size: 200px;
    color: rgb(218, 24, 205);
}